<div class="flex">
  <div class="card flex__item">
    <h2 class="card__head">
      About Us
    </h2>
    <div class="card__body">
      <h3>Making the world a better place through open source software.</h3>
      <ul>
        <li>
          <a href="http://corp.gree.net/global/">
            Corporate Site
          </a>
        </li>
        <li>
          <a href="http://corp.gree.net/global/jobs/">
            Work With Us
          </a>
        </li>
        <li>
          <a href="http://labs.gree.jp/blog/">
            Engineers' Blog
          </a>
        </li>
        <li>
          <a href="http://cr.gree.jp/">
            Creators' Blog
          </a>
        </li>
        <li>
          <a href="http://corp.gree.net/jp/ja/csr/">
            Corporate Social Responsibility
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card flex__item">
    <h2
      class="
        card__head
        card__head--error">
        <%= name %>
    </h2>
    <div class="card__body">
      <p class="text--lead">
        <%= message %>
      </p>
    </div>
  </div>
</div>
